* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b244a;
  padding-top: 68px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.section {
  max-width: 155px;
}
.title {
  color: #eeeeee;
  font-size: 40px;
  font-weight: 700;
  line-height: 35.89px;
  text-align: center;
  margin-bottom: 21px;
  text-transform: uppercase;
}
.timer {
  width: 100%;
  height: 120px;
  background-color: #080001;
  margin-bottom: 26px;
  display: flex;
  justify-content: center;
  color: #f94f6d;
  font-family: Cursed Timer ULiL;
  font-size: 90px;
  line-height: 126px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.btn {
  width: 45px;
  height: 45px;
  border: 2px solid #9aabd8;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9aabd8;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s all;
}

.btn:hover {
  background-color: #9aabd8;
  color: #1b244a;
}

.reset-btn {
  min-width: 100px;
  padding: 5px;
  margin: 80px auto 0;
}
